@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Hat Display", sans-serif;
}
#bottom-warp,
#top-warp {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -10;
}

#bottom-warp {
	transform: rotate(180deg);
	bottom: 0;
	top: auto;
}

#top-warp {
	top: 0;
	bottom: auto;
}
html {
	height: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer !important;
}

div {
	z-index: 10;
}
body {
	display: flex;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

#order-container .container {
	background: white;
	max-width: 360px;
	box-shadow: 10px 10px 180px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	overflow: hidden;
	animation: plan-container-introduction 1.5s;
}
.visual {
	background: url("./images/illustration-hero.svg");
	height: 200px;
	background-position: center;
	background-size: cover;
}
.text {
	padding: 10px 20px;
	text-align: center;
	color: #2f3044;
}
.text h1 {
	margin: 10px 0;
	font-weight: 900;
}
.text p {
	color: rgba(0, 0, 0, 0.7);
	font-size: 1rem;
	line-height: 2.5;
}

#plan-details {
	background-color: rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	padding: 10px;
	margin: 20px 20px;
}
#first-half {
	display: flex;
	img {
		display: block;
		margin: 0 5px 0px 0px;
	}
	h2 {
		font-size: 1rem;
	}
}
.plan-change {
	color: rgb(56 44 229);
	background: none;
	border: none;
	outline: none;
	font-weight: 600;
	text-decoration: underline;
	font-size: 0.9rem;
}

#half-text p {
	line-height: 1.4;
}

.proceed {
	background-color: rgb(56, 44, 299);
	width: 100%;
	padding: 20px;
	color: white;
	font-size: 1rem;
	border-radius: 10px;
	font-weight: 900;
	cursor: pointer;
	margin: 10px 0;
	transition: 0.2s ease-in;
	transition-property: box-shadow, transform;
}
.proceed:hover {
	box-shadow: 5px 5px 80px rgba(56, 44, 299, 0.3);
	transform: translateY(-3px);
}

.cancel {
	font-weight: 600;
	color: rgba(52, 52, 52, 0.5);
	font-size: 1rem;
	background-color: transparent;
	margin: 10px 0px;
	cursor: pointer;
	transition: color 0.3s ease-in;
}
.cancel:hover {
	color: rgba(52, 52, 52, 1);
}
.attribution {
	margin: 30px 0px;
}

.plan-change {
	transition: all;
}
.plan-change:hover {
	text-decoration: none;
}

@keyframes plan-container-introduction {
	0% {
		opacity: 0;
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
